.carousel, .carousel-item img{
    height: 100vh;
}

@media (max-width:991px) {
    .carousel, .carousel-item img{
        height: 65vh;
    }
}

@media (max-width:774px) {
    .carousel, .carousel-item img{
        height: 50vh;
    }
}

@media (max-width:476px) {
    .carousel, .carousel-item img{
        height: 30vh;
    }
    .carousel{
        margin-top: 88px;
    }
}