    .footer{
        background-color: rgba(255, 0, 0, 0.797);
        font-family: "Changa", sans-serif;
    }

    .footer-links a{
        text-decoration: none;
    }

    .vr-line{
        width: 1px;
        height: 20px;
        background-color: white;
    }


    .developer {
    font-size: 14px;
    color: #aaa;
    }

    .developer a {
    color: #beb4b2;
    text-decoration: none;
    font-weight: bold;
    }

    .developer a:hover {
    text-decoration: underline;
    }